.list-items {
  padding: 0;
  list-style: none;

  .list-item {
    font-size: 14px; // todo not the correct place
    background: #eaeaea;
    padding: 5px 10px;
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }

    .fa {
      margin-right: 10px;
    }
  }
}
