
$github-color:         #24292E;
$stack-overflow-color: #F48024;
$linkedin-color:       #0077B5;

.social-networks {
  margin-bottom: $grid-gutter-width-base;
  text-align: center;
}

.social-network-link {
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: $font-size-h2;
  margin: 0 $spacer-x;
  box-shadow: $btn-box-shadow;

  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
  }

  &.github               { background: $github-color; }
  &.github:hover         { background: darken($github-color, 10%); }

  &.stack-overflow       { background: $stack-overflow-color; }
  &.stack-overflow:hover { background: darken($stack-overflow-color, 10%); }

  &.linkedin             { background: $linkedin-color; }
  &.linkedin:hover       { background: darken($linkedin-color, 10%); }
}
