<!DOCTYPE html>

<html data-ng-app="App" lang="fr">
    <head>
        <meta name="fragment" content="!" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title></title>
        <meta name="keywords"    content="" />
        <meta name="description" content="" />

        <!-- To use CDN, comment next line and change compile.json -->
        <link rel="stylesheet" type="text/css" media="all" href="build/libraries.min.css" />

        <!-- To use CDN, uncomment next lines and change compile.json -->
        <!--<link rel="stylesheet" type="text/css" media="all" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />-->
        <!--<link rel="stylesheet" type="text/css" media="all" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />-->

        <link rel="stylesheet" type="text/css" media="all" href="build/application.min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="../resources/css/3D.css" />

        <!-- To use CDN, uncomment next lines and change compile.json -->
        <!--<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>-->
        <!--<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->

        <script type="text/javascript" src="build/three-js.min.js"></script>
        <script type="text/javascript" src="build/libraries.min.js"></script>
        <script type="text/javascript" src="build/application.min.js"></script>
    </head>

    <body data-ng-cloak="" data-ng-controller="AppLayout">
        <th-scene data-color="222222" data-responsive="true" data-debug="true">
            <th-perspective-camera data-position="{x: 0, y: 0, z: 0}" data-rotation="{x: 0, y: 0, z: 0}" />

            <!--<th-ambient-light data-color=""></th-ambient-light>-->

            <!--<th-camera data-position="{x: 0, y: 0, z: 0}" data-rotation="{x: 0, y: 0, z: 0}" />

            <th-mesh data-scale="{x: 10, y: 10, z: 10}" data-position="{x: 0, y: 0, z: 0}" data-rotation="{x: 0, y: 0, z: 0}">
                <th-component data-scale="{x: 10, y: 10, z: 10}" data-position="{x: 0, y: 0, z: 0}" data-rotation="{x: 0, y: 0, z: 0}">
                    <th-material></th-material>
                </th-component>
            </th-mesh>-->
        </th-scene>
    </body>
</html>