
$control-btn-spacer-x:    5px;
$control-btn-spacer-y:    15px;
$control-btn-size:        46px;
$control-btn-border-size: 2px;

$control-btn-hover-size: 54px;
$control-btn-hover-border-size: 3px;

.view-3d-container {
  font-size: 0; // remove additional space after the canvas
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.view-3d {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.view-3d-stats {
  margin: 0 15px;
}

.view-3d-stats-panel {
  margin: $control-btn-spacer-y $control-btn-spacer-x;
}

.view-3d-controls {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  margin: 0 15px;
}

.view-3d-btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  margin: $control-btn-spacer-y $control-btn-spacer-x;

  border-radius: 50%;
  border: $control-btn-border-size solid white;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.75);

  width: $control-btn-size;
  height: $control-btn-size;
  background: transparent;
  padding: 0;

  @include text-overlay();

  &:hover,
  &:focus {
    text-decoration: none;
    width: $control-btn-hover-size;
    height: $control-btn-hover-size;
    border: $control-btn-hover-border-size solid white;
    margin: floor($control-btn-spacer-y - ($control-btn-hover-size - $control-btn-size)/2)
            floor($control-btn-spacer-x - ($control-btn-hover-size - $control-btn-size)/2);

    .fa {
      line-height: $control-btn-hover-size - ($control-btn-hover-border-size * 2);
    }
  }

  .fa {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
    line-height: $control-btn-size - ($control-btn-border-size * 2);
    font-size: $font-size-lg;
    color: white;
    box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
  }
}
