.list-items {
  padding: 0;
  list-style: none;

  .list-item {
    font-size: 14px; // todo not the correct place
    padding: 10px;
    border-bottom: 1px dashed #ccc;

    &:last-child {
      border-bottom: none;
    }

    .fa {
      margin-right: 10px;
    }
  }
}
